h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    color: #333;
}

h1{
    font-size: 200px bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: solid black;
}


button{
    color: #ffffff;
}

body{
    background-color: #f4f6f9;
} 

/*body.img-fluid{
    width: 100%;
    background-repeat:no-repeat;
    background-size:100% 100%; 

} */

/*footer {
    position: fixed;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #000000;
    text-align: right;
} */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 20px;
}
.form-signin .checkbox
{
    font-weight: normal;
    float: left;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall
{
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:1%;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img
{
    width:35%;
    margin-top: 15px;
    margin-bottom:30px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0%;
    margin-bottom: 0.5cm;
}

.need-help
{
    margin-top: 10px;
    float: left;
}

.new-account
{
    display: block;
    margin-top: 10px;
}

.container {
    position: fixed;
    margin-top: 3cm;
    left:20%;
    border-radius:10%;
   }

.regcontainer {
    height: 500px;
    position: fixed;
    margin-top: 2cm;
    margin-left:7cm;
    left:40%;
   }

.containerfooter {
    margin-top: 80px;
    padding: 10px 0px 20px 0px;
    float: bottom;
    background-color: #FF0000;
}


.footer {
    position: fixed;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #000000;
    color: #000000;
    text-align: right;
}

.footer p {
    color: white;
}

.footer h4{
    color: white;
}

.footer h5{
    color: white;
}

.pwdcontainer{
    height: 150px;
    position: relative;
    margin-top: 5cm;
    padding: 0.5cm;
    left:30%;
}

/*CONTAINERS - WALLS*/
.reg-container{
    margin-left:17.5cm;
    margin-top: 2cm;
    position: fixed;
    height:500px;
}

.reg-wall{
    margin-top:40px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:1%;
    opacity:0.85;
}

.reg-wall h2{
    padding-top:10px;
    padding-bottom:10px;
}

.reg-wall h3{
    padding-bottom:20px;
}

.edit-wall{
    margin-top:40px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:1%;
    opacity:0.85;
}

.login-container{
    position: fixed;
    margin-top: 3cm;
    border-radius:10%;
    width:800px;
    margin-left:20cm;
}

.login-wall{
    margin-top:40px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:1%;
    opacity:0.85;
}

body h2{
    text-align: center;
    padding-top:10px;
    padding-bottom:25px;
}

.home-container{
    position: fixed;
    margin-top: 3cm;
    border-radius:10%;
    width:800px;
    margin-left:20cm;
}

.home-wall{
    text-align: center;
    padding-top:10px;
    padding-bottom:40px;
    border-radius:1%;
}

.addprof-container{
    position: fixed;
    margin-top: 3cm;
    border-radius:10%;
    width:800px;
    margin-left:20cm;
}

.addprof-wall{
    margin-top:40px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius:1%;
    opacity:0.85;
}

/*for id*/
#regsuccess{
    margin-top: 20px;
}

